
.form-style{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    margin-top: 70px;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: 'Indie Flower', "Times New Roman", Times, serif;
}
.form-style fieldset{
    border: none;
}
.form-style legend {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.form-style input[type="text"],
.form-style textarea {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style input[type="text"]:focus,
.form-style textarea:focus{
    background: #d2d9dd;
}


.form-style input[type="submit"],
.form-style input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 22px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover
{
    background: #109177;
}
.form-style button{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 22px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style button:hover{

    background: #109177;
}
form h1{
    font: 3em monotype corsiva;

}
.label-font{
    font: 1.15em Bradley Hand ITC;
}